[2017-11-14 02:28] AFathi opened #1 "Binary issue when archiving and exporting an IPA file"
Exporting an IPA fails due to:
- unsupported architectures '[x86_64]'.

[2017-11-14 20:42] AFathi commented on #1
The issue appear to be coming from the binary build’s simulator architecture. Working on a fix and will publish it with version 1.2.

[2017-11-15 01:42] AFathi commented on #1
## Alternative Fix
For `ARVideoKit` v. 1.11 or lower you will **need to strip out the simulator architectures** from the framework before pushing an application to the App Store.

To do so, follow those steps:

1. Install Carthage

2. Go to your project target's `Build Phase`
<img width="684" alt="screen shot 2017-11-14 at 8 21 44 pm" src="https://user-images.githubusercontent.com/4106695/32813978

[2017-11-15 11:30] darina-techery opened #2 "Captured image is actually a screenshot, not a photo from camera"
Hi! Today my colleagues and I experimented with the framework and took a photo using photo() method of recorder object. However, the resulting image had dimensions equal to screen ones, which means it was simply a screenshot, not a photo taken by phone camera, which has much higher resolution. Is that an expected behavior?

[2017-11-15 12:52] AFathi commented on #2
Hey @darina-techery!

Great question.

In order to retrieve a rendered image, `ARVideoKit` renders `ARFrame`'s raw [`capturedImage`](https://developer.apple.com/documentation/arkit/arframe/2867984-capturedimage) with the SceneKit or SpriteKit content.

The reason the image captured is same as the screen size is because the [`photo`](https://github.com/AFathi/ARVideoKit/wiki/RecordAR#func-photo---u

[2017-11-15 14:45] darina-techery commented on #2
Hey @AFathi,

Thank you for a swift response!

As I am new to iOS development, I mostly rely on my colleagues' comments, and they say that `capturedImage` contains only raw image from camera without additional AR drawings. Does it mean we have to replicate the built-in ARKit logic to apply these drawings to the bigger image, as they do to render screen-based image?

[2017-11-15 15:01] AFathi commented on #2
Hey @darina-techery,

You don't have to do that. [ARVideoKit](http://github.com/AFathi/ARVideoKit) already handles all that for you!

Check [ARVideoKit Documentation](https://github.com/AFathi/ARVideoKit/wiki) & [RecordAR](https://github.com/AFathi/ARVideoKit/wiki/RecordAR) for more information.

-Ahmed

[2017-11-15 15:54] #2 closed

[2017-11-16 15:22] DrashtiBhuta opened #3 "ARVideoKit Module compiled with Swift 4.0.2 cannot be imported in Swift 4.0"

[2017-11-16 15:28] AFathi commented on #3
Can you please specify how you include the framework into your project?

[2017-11-17 21:28] yeldarby opened #4 "Stretching on iPhone X"
The underlying image and the `SceneKit` content are misaligned on the iPhone X (I presume because of the different aspect ratio of the display). It looks like the `SceneKit` content is rendered too wide relative to the camera image.

Here's an example. First is a screenshot of what it looks like in the app. Second is an image exported from `ARVideoKit` (videos have the same issue; was just easier

[2017-11-17 21:35] AFathi commented on #4
Hey @yeldarby!
Thank you for creating this issue. Can you capture and send photos from different face angles or poses?

Because I'm assuming the problem may be caused from the renderer.

By different angles or poses I mean something like that:
![rnnface](https://user-images.githubusercontent.com/4106695/32970026-4b7d5126-cbb5-11e7-9f91-74c4c2d58c08.jpg)

-Ahmed

[2017-11-17 21:49] yeldarby commented on #4
Sure, how's this?

ARVideoKit: https://www.dropbox.com/s/ckkuqbnj1gqm881/ARVideoKit.MP4?dl=0
iOS Video Recording: https://www.dropbox.com/s/6qxjiqu77gl76tb/iOS-Video-Recording.MOV?dl=0

[2017-11-17 21:55] AFathi commented on #4
That's good enough! I believe I know where the issue is coming from and I'll publish an update with a new option in [`RecordAR`](https://github.com/AFathi/ARVideoKit/wiki/RecordAR) to configure the renderer by tomorrow.

I'll inform you in this thread when the update is ready.

-Ahmed

[2017-11-17 22:02] yeldarby commented on #4
Awesome!!

[2017-11-18 19:18] steve21124 opened #5 "ARVideoKit.framework is this open source?"

[2017-11-18 19:20] AFathi commented on #5
Hey @steve21124,
ARVideoKit is not open source at this moment. However, I'm considering open sourcing it.

-Ahmed

[2017-11-18 20:50] steve21124 commented on #5
fyi: I am also checking out other arkit recorder: https://github.com/StephenGuanqi/ARKitRecorder

[2017-11-18 20:50] #5 closed

[2017-11-19 18:14] kristokiis opened #6 "Framerate"
I have some problems with frame rate. Default in ARKit is 60fps, when i turn on recording the whole scene goes 2 times faster, all physics and animations work 2 times faster in record mode than in non record mode. In debug i see that scenekit fps is turned to 120fps while in recording. Is there any workaround ? I tried setting recorder fps to 60, but still same behaviour happens.

[2017-11-19 18:43] AFathi commented on #6
Hey @kristokiis!

I have noticed this issue recently. Can you try setting the `RecordAR` [fps](https://github.com/AFathi/ARVideoKit/wiki/RecordAR#var-fpsarvideoframerate) to [`fps30`](https://github.com/AFathi/ARVideoKit/wiki/ARVideoFrameRate#case-fps30).

If that doesn't make any difference, you may create a workaround by setting the the SceneKit animation to half what it is right now.

Or try ad

[2017-11-19 19:24] kristokiis commented on #6
Seems it does not help, recording still forces everything 2 times faster nomatter what those settings are.

[2017-11-19 19:33] AFathi commented on #6
@kristokiis,
Thank you for informing me. I'll be including a fix to this issue in version 1.12.

At this moment, the only workaround would be slowing down the nodes' animations to half what it originally is.

-Ahmed

[2017-11-20 11:28] saikiran-magic opened #7 "Module file's minimum deployment target is ios11.0"
Hello,

I need to have an optional feature which uses ARKit and ARVideoKit in my app, but don't want it to prevent users with iOS version less than 11.0 from downloading & using the rest of the app. Is there some way similar to weak link the ARVideoKit framework and put "@ available" checks as we do for every iOS framework?

The error I get when trying to import in a project with deployment target

[2017-11-21 00:06] AFathi commented on #7
Hey @saikiran-magic!
I'll be including a fix for this issue in v. 1.12 soon.

-Ahmed

[2017-11-21 04:35] AFathi commented on #7
Hey @saikiran-magic!
Check out v. 1.12 of [ARVideoKit](https://github.com/AFathi/ARVideoKit/releases/tag/1.12)!

[2017-11-21 04:35] AFathi commented on #4
Hey @yeldarby!
Check out v. 1.12 of [ARVideoKit](https://github.com/AFathi/ARVideoKit/releases/tag/1.12)!

[2017-11-21 04:36] #4 closed

[2017-11-21 04:36] #7 closed

[2017-11-21 05:57] saikiran-magic commented on #7
Awesome! Thanks @AFathi

[2017-11-21 16:08] yeldarby commented on #4
Excellent. Do you have Paypal? This framework is going to save me a ton of time!

[2017-11-21 16:45] AFathi commented on #4
@yeldarby, I'm really glad my [framework](https://github.com/AFathi/ARVideoKit) is helping you and many others ☺️. I really appreciate your feedback!

My PayPal email is: ahmedfbekhit@gmail.com

-Ahmed

[2017-11-22 21:41] kristokiis commented on #6
ok, but do you have any estimations when 1.2 will be released?

[2017-11-22 22:19] AFathi commented on #6
@kristokiis,
I can't give estimates at this moment; however, I'll try to have it published by end of December.

Also to fix your issue, you may slow down the animation into half what you're using right now. For example, if your animation is taking 5 seconds you'd change the intervals to 2.5 seconds.

[2017-11-22 23:26] kristokiis commented on #6
but it would affect them when recording is not active. Problem is switching between recording and normal state, physics and world is too different. Question how did you change fps in recording mode that it also affects scenekit fps? Maybe i can use that code to keep same fps in both cases.

[2017-11-30 03:17] CoderTian commented on #3
me too， how to resolve this?

[2017-11-30 05:11] JustBetterIOS opened #8 "Failed to verify bitcode"
I use  ARVideoKit.framework of version 1.12
My Xcode enable bitcode is false
Fastlane failed ：
error: exportArchive: Failed to verify bitcode in ARVideoKit.framework/ARVideoKit:
error: Cannot extract bundle from /var/folders/45/sr50c3y14sxcsdgn_q1gr9200000gn/T/XcodeDistPipeline.Xzl/Root/Payload/xxxxxx.app/Frameworks/ARVideoKit.framework/ARVideoKit (i386)

[2017-11-30 17:47] AFathi commented on #8
Hey @JustBetterIOS,
Can you please specify when this error occurs.

[2017-12-01 14:49] JustBetterIOS commented on #8
Thanks for suggestion!
Before  archivie my project, I have already do those steps
I give some more log:

[22:45:22]: ▸ Running script 'Run Script'
[22:45:25]: ▸ Running script '[CP] Embed Pods Frameworks'
[22:45:25]: ▸ Running script 'Embed Pods Frameworks'
[22:45:25]: ▸ Copying /Business/Modules/ARKit/Vendors/ARVideoKit/ARVideoKit.framework

xcodebuild[81534:1949285] [MT] IDEDistribution: Step fa

[2017-12-01 16:25] JustBetterIOS commented on #8
Thanks god!
I solved this by
$ lipo -remove i386 …/ARVideoKit.framework/ARVideoKit  -o …/ARVideoKit/ARVideoKit.framework/ARVideoKit

[2017-12-01 16:25] #8 closed

[2017-12-03 09:23] JustBetterIOS opened #9 "deinit did not called after go back"
I use ARVideoKit-Example Demo,

deinit method in SCNViewController did not called after go back to MainViewController

[2017-12-04 19:18] AFathi commented on #9
Working on a fix and will update the example project soon 😊

[2017-12-08 10:33] StrangeDays opened #10 "Code Signing failed"
on validating the archive - codesign fails because of missing password for key "access"

[2017-12-08 12:49] #10 closed

[2017-12-09 04:51] parth0072 opened #11 "Record always show black video only"
Hey
I have used ARVideoKit for recording in my AR applications. but when I start recording and I have recorded video for 10 sec but it only show me black screen only. also show black screen in photo too.

[2017-12-10 22:00] AFathi commented on #11
Hey @parth0072,
Can you please specify how you implemented `ARVideoKit` into your project?

-Ahmed

[2017-12-10 22:04] AFathi commented on #9
Hey @JustBetterIOS,
I figured that the issue was caused by the deallocation part of the RecordAR class.

Currently I'm working on a fix and will publish it as a part of v. 1.2!

-Ahmed

[2017-12-11 02:39] parth0072 commented on #11
Thanks for reply.
yesterday i had solved that problem .
due to some mistake in my logic that's why it was not worked

[2017-12-11 02:39] #11 closed

[2017-12-14 02:18] AFathi commented on #3
@CoderTian, do you mind specifying how you're including `ARVideoKit.framework` into your project?

Would appreciate detailed explanations of the the issue to help me resolve it!

-Ahmed

[2017-12-17 19:44] aarushchopra opened #12 "Support exporting media to other locations"
The [exporting methods](https://github.com/AFathi/ARVideoKit/wiki/RecordAR#exporting-methods) section outlines how to export media to a user’s Photos library. However, there are use cases where persisting media to other locations is preferred. For example, if a user wants to share a recently exported media, but does not want the media persisted to Photos, the device's temporary directory might be

[2017-12-18 03:05] AFathi commented on #12
@aarushchopra,
`ARVideoKit` already exports the videos recorded to a temporary directory on the device and it returns the directory path in both the protocol method and the completion handlers of [`stop`](https://github.com/AFathi/ARVideoKit/wiki/RecordAR#func-stop_-finished_-videopath-url---swiftvoid--nil) and [`stopAndExport`](https://github.com/AFathi/ARVideoKit/wiki/RecordAR#func-stopandexport

[2017-12-19 02:58] aarushchopra commented on #12
Oh, my bad! I think I missed that because I was expecting to find it in the "Exporting Methods" section. Thanks for clarifying!

On an unrelated note, are you planning to add support for CocoaPods? Should I make another issue for that?

[2017-12-19 03:03] AFathi commented on #12
@aarushchopra,

Yes, I'm planning on publishing `ARVideoKit` on CocoaPods, Carthage, and Swift Package Manager.
This will be available when I open source the project in early 2018!

You can open another issue for that.

-Ahmed

[2017-12-19 13:56] senthilece01 opened #13 "Not supported for an iPad application"
Hi team,

The video and photo capture are supporting only for iPhone application. It doesn't support for iPad application. The video looks very stretched.

Kindly fix this and update it for iPad too.

[2017-12-19 19:48] AFathi commented on #13
@senthilece01, thank you for informing me about this issue.

I have actually found that issue recently and I'm working on a fix!

-Ahmed

[2017-12-20 18:57] senthilece01 commented on #13
Thank you @AFathi . Kindly update here once you fix the issues.

[2017-12-20 19:06] AFathi commented on #13
@senthilece01,

Of course, will do!

-Ahmed

[2017-12-20 22:40] davidxiasc opened #14 "Cannot record custom video sizes"
I wish to record videos with custom sizes, but under the current implementation, the only options appear to landscape and portrait

[2017-12-20 22:47] AFathi commented on #14
@davidxiasc,
Can you please clarify what do you mean by custom size?

-Ahmed

[2017-12-20 23:01] davidxiasc commented on #14
For example, say my SCNView is a square, the view that is output always appears to have a specific aspect ratio (stretched). However, what I actually want is just the square video

[2017-12-20 23:15] AFathi commented on #14
@davidxiasc,
Thank you for the feedback, I'll consider this in future updates!

However, for now, you may resize the video asset after recording. Because `ARVideoKit` currently renders the AR scene based on the raw frame size.

-Ahmed

[2017-12-20 23:31] masonvscode opened #15 "Video Recording Stutters Heavily at Beginning"
Video stops or shows dropped frames during playback at beginning of recorded session. Converted the video into a gif to try to give an example.

![arvideokit_library_sample_project](https://user-images.githubusercontent.com/9758594/34233515-bb0775d6-e59a-11e7-842c-9d360972cf15.gif)

[2017-12-20 23:37] masonvscode opened #16 "Video Recorded Doesn't Show ARKit Shadows"
Recording appears without shadows
![img_5420](https://user-images.githubusercontent.com/9758594/34233643-78b97b1a-e59b-11e7-941e-4a7eebc26213.PNG)
Expected result includes shadows on the shape
![img_5418](https://user-images.githubusercontent.com/9758594/34233644-78cf543a-e59b-11e7-9c4e-e0d798ab4fd9.PNG)

[2017-12-20 23:56] AFathi commented on #15
@masonvscode,
Can you please share the code you're using to begin and end recording a video.

Also, can you specify what device are you testing on?

-Ahmed

[2017-12-20 23:56] AFathi commented on #16
@masonvscode,
How are you creating the material of the paint?

-Ahmed

[2017-12-21 01:33] masonvscode commented on #15
iPhone X and iPhone 7, seems to be more prevalent on iPhone X

[2017-12-21 01:34] huntermonk commented on #16
We are just using automatic lighting from `ARKit`. So just:
[code]

[2017-12-21 01:37] huntermonk commented on #15
The above recording came from using the example project that comes with this library, unchanged.

On the iPhone X, I'm running iOS 11.2.1. Thanks!

[2017-12-30 12:36] kristokiis commented on #6
Is there any updates coming up with this project? Need to know if i can use this one or need to create my own.

[2018-01-02 08:33] adarsh431 opened #17 "Any plans to support Objective-C?"
Hi,

Thanks for the awesome work. Recently I started using ARKit and ARVideoKit and because of the usage of Swift, my app got bloated up in size. So I'd like to implement ARKit on Objective-C, and would like to know if you have any plans on supporting ARVideoKit in it?

Thanks.

[2018-01-02 18:03] AFathi commented on #17
@adarsh431,

Yes, I'm open-sourcing **ARVideoKit** this month and it will support Objective-C and include other new features and fixes!

-Ahmed

[2018-01-02 18:06] AFathi commented on #16
@huntermonk,
What are you using to create the AR paint material? Can you share the code for that?

[2018-01-02 18:10] huntermonk commented on #16
Yep. The example above is colored, but for simplification, the same effect applies when just using a `SCNNode` with no changes to diffuse.

[code]

[2018-01-02 18:10] AFathi commented on #6
@kristokiis,
I'm open-sourcing **ARVideoKit** this month and it will include an option attempting to fix that issue.

-Ahmed

[2018-01-02 18:12] AFathi commented on #16
@huntermonk,
I'll try to reproduce the issue and get back to you soon :)

-Ahmed

[2018-01-02 18:13] huntermonk commented on #16
Great!

[2018-01-03 07:42] adarsh431 commented on #17
@AFathi
Thanks a lot.

[2018-01-07 21:20] #3 closed

[2018-01-07 21:21] #1 closed

[2018-01-09 19:10] yderidde commented on #17
hey @adarsh431 ! Amazing work you did here !
Looking forward to use this in my ObjC project... do you have a timeframe for when you are gonna open source it ? (more precise than just 'this month') ?

[2018-01-09 21:45] AFathi commented on #17
@yderidde,

Yes! The open source version will be up this week and I will include an example Objective-C project.

[2018-01-09 21:57] yderidde commented on #17
@AFathi you're the best !

[2018-01-11 18:40] tnylee opened #18 "Can I show texture atlas with ARVideoKit?"
Thank you for creating such useful library.

Instead of showing emojis. I'd like to show animations. How can I do this?

Thank you

[2018-01-11 19:24] yderidde commented on #17
@AFathi I like your 'fake' counter haha

[2018-01-12 07:44] AFathi commented on #17
@yderidde @adarsh431 :
Check out the latest commit!

[2018-01-12 07:44] #17 closed

[2018-01-12 07:45] AFathi commented on #18
@tnylee,

Can you please specify in-depth what are you trying to animate?

[2018-01-16 23:19] huntermonk commented on #16
Thanks @pionl, that is really interesting. Is that lighting baked in, or does that allow for dynamic lighting?

Our nodes are moving, so dynamic shadows are important for us.

[2018-01-17 09:21] pionl commented on #16
@huntermonk I use all default values - dynamic lighting automatically managed by the SceneKit. There is probably problem how SceneKit adds the light into the scene. If I manually add light to rootNode of the scene by calling `sceneView.scene.rootNode.addChildNode(lightNode)`, then all works fine (lighting is applied to all models).

[2018-01-26 18:29] eschos24 opened #19 "Is it possible for this to work with Metal?"
This looks like an incredible framework, but I would love to be able to use it with custom 3D objects that I have using Unity as my 3D renderer rather than SceneKit.

[2018-01-30 16:47] avierkant commented on #6
Has anyone figured out a workaround for this issue? Trying to push an app that would incorporate ARVideoKit later this month and still having a huge issue with the frame rate. Have tried the suggested code above but no matter what video output stays locked around 60fps
Thanks!

[2018-01-31 09:14] stayHF opened #20 "Is it possible to record video without using ARSCNView?"
Thanks for the great work of this repo.
I think the performance could be improved when we only render the scene only once.

Normally, ARSCNView do the world tracking and apply the camera transform to the scene. If we only use ARSession, not ARSCNView, and update the scene camera manually.  renderer the scene  to a fbo with SCNRenderer.

[2018-01-31 15:33] pionl opened #21 "Playing audio in node - crash"
Hi, when I want to play an audio via runAction the sound is not played. When recording the app crashes. If I remove recorder, sound is working.

I've tried multiple ways how to play the sound until I found that the recorder has caused the issue.

[code]

[2018-01-31 15:44] pionl commented on #21
Probably this issue? https://stackoverflow.com/questions/45417930/multiple-scnview-audio-error

[2018-02-01 08:53] pionl opened #22 "App crashes when user tries to start record when using Skype (or other mic related app)"
The crash:

Fatal Exception: NSInvalidArgumentException
*** -[AVAssetWriterInput initWithMediaType:outputSettings:sourceFormatHint:] 4 is not a valid channel count for Format ID 'aac '. Use kAudioFormatProperty_AvailableEncodeNumberChannels (<AudioToolbox/AudioFormat.h>) to enumerate available channel counts for a given format.

[code]

[2018-02-02 07:14] joyjones opened #23 "Bugs when app is landscape mode"
![unadjustednonraw_thumb_34c9](https://user-images.githubusercontent.com/5885295/35721080-69aa4e58-082b-11e8-82b1-2e3406b6096a.jpg)

Project settings：
![image](https://user-images.githubusercontent.com/5885295/35721117-90c99282-082b-11e8-9960-c62fdc435ef0.png)

UIViewController setups:
![image](https://user-images.githubusercontent.com/5885295/35721132-9a3303e4-082b-11e8-83f9-e8ef57851d02.png)

[2018-02-02 14:15] AFathi commented on #23
Please make sure to add the following line in your AppDelegate file

‘’’
func application(_ application: UIApplication, supportedInterfaceOrientationsFor window: UIWindow?) -> UIInterfaceOrientationMask {
return ViewAR.orientation
}
‘’’

[2018-02-02 14:27] AFathi commented on #22
@pionl,

Due to some limitation in iOS, you cannot use a microphone while it's being used by another application (e.g. FaceTime, Skype, Phone... etc.). However, there's a workaround this issue in order to enable recording videos while using Skype or similar apps.

Although you'll be able to record a video, the video won't have any audio included. To make this happen, you will have to disable the a

[2018-02-02 14:30] AFathi commented on #20
@stayHF,

That's an interesting suggestion, I'll look more into it. Also, please feel free to fork the project and create a pull request if you want to implement your suggestion into `ARVideoKit`!

[2018-02-02 14:34] AFathi commented on #19
@eschos24,

I have perviously received some requests to support Unity; however, I didn't have much time recently to work on it.

Can you please clarify to me how you would want to use ARVideoKit in Unity?

-Ahmed

[2018-02-02 15:51] pionl commented on #22
Hi Ahmed,

I thought it will be the issue. Unfortunately I didn't find any code that would allow me to detect if the microphone is already used. Do you have any code for it?

Also I'm trying to use Voicemod which uses microphone too (same error), is there any way to feed wav file and the end to the video? (on stop). Only if there is post processing in the library. Otherwise I would need to merge t

[2018-02-02 16:19] eschos24 commented on #19
Basically, the concept is using native iOS controls and design throughout the app, but then use Unity as my renderer to display 3D objects using ARKit. Does that make sense? I do not want to build the entire app using Unity because I want it to look and feel like an iOS app, but I want to take advantage of Unity's tools for rendering 3D objects, which uses Metal rather than SceneKit.

[2018-02-07 02:26] joyjones commented on #23
@AFathi thx, but ViewAR.orientation only returns "portrait", while i want to use "landscape right" mode in my app, can't it support this?

[2018-02-07 13:38] kuajia opened #24 "Crash when record and stop video immediately"
This is my first time in managing a video in a SCNView. I started using your library, and I solved a lot of problems, but  I am still having an issue when starting and immediately stopping the video: I also noticed that your swift example project is having the same crash, with this log :

2018-02-07 14:25:23.808628+0100 ARVideoKit-Example[3957:1450433] [MC] System group container for systemgroup.c

[2018-02-07 16:48] AFathi commented on #24
@kuajia,
Do you mind sharing what device were you testing on?

[2018-02-07 16:56] AFathi commented on #23
@joyjones,
It will only return portrait when the user is in a `UIViewController` that contains an AR scene. However, if you want to support landscape right you may use the following option to specify which objects you want to view in landscape mode while in a `UIViewController` that contains an AR scene:

[code]

Please check [ARView](https://github.com/AFathi/ARVideoKit/wiki/ARView) and [ARInputV

[2018-02-07 18:10] kuajia commented on #24
Sorry, I forgot it... I used an iPhone X

[2018-02-07 18:53] AFathi commented on #24
@kuajia,
There are 2 different ways to temporarily fix this issue:

1. Add a minimum of **1 second** before allowing the user to stop the video recorder.

2. If you're using the open-sourced version of  **ARVideoKit**, you may go to the `ARVideoKit/Rendering/Writer/WritAR.swift` file and replace the function `end(writing )` with the following block of code:

[code]

[2018-02-12 00:51] senthilece01 commented on #13
Any update ? Have you fixed it ?

[2018-02-12 01:10] AFathi commented on #13
@senthilece01,

I wasn't able to confirm whether the fix works or not since I don't have access to any ARKit-supported iPad. However, I can share with you where I think the issue the coming from so you edit the source code and test it.

So, I believe the main issue is coming from the way I'm scaling the rendered frame. I'd suggest to take a look at the `bufferSize` object in the `ARVideoKit/Render

[2018-02-12 01:11] AFathi commented on #13
@senthilece01,
Can you also please send a screenshot of how the video looks like after exporting?

[2018-02-12 03:31] senthilece01 commented on #13
@AFathi Please check the below image. It looks very stretched after captured the photo.

![img_0367 2](https://user-images.githubusercontent.com/10756609/36082824-018f2f32-0fd3-11e8-9837-93ebc562ae7b.JPG)

[2018-02-19 21:48] avierkant opened #26 "Capture Displays Nodes in Different Placement"
Hi,

Thank you for the framework! Super useful

I'm wondering if you (or anyone else) have gotten the following error:

When capturing photo or video with ARVideoKit, in some specific instances the photos/videos don't match the placement of nodes in the scene.

(see attached images--the one with a circular camera button at bottom of image is a screenshot of how ARSCNView is displaying the image on

[2018-02-21 04:25] AFathi commented on #26
@avierkant, can you please specify what device you're using?

[2018-02-21 17:52] avierkant commented on #26
@AFathi Running on an iPhone 8 Plus

Here's what I'm using to fetch user position, and the function that calls it:

    func getUserVector() -> (SCNVector3, SCNVector3) { // (direction, position)

            if let frame = sceneView.session.currentFrame {

            let mat = SCNMatrix4(frame.camera.transform)
            let dir = SCNVector3(0, frame.camera.eulerAngles.y, 0)
            let po

[2018-02-28 16:31] jakobweigert opened #27 "App crashes on startup [resolved]"
Hi, fyi I ran into the problem that the app crashed upon startup as soon as I added the framework to it. Was able to resolve it by adding a step to copy the framework as described in the last steps of this answer: https://stackoverflow.com/a/43197278/1884907

[2018-03-01 15:31] okvivi opened #28 "Feature request: include other UIView content in the recording, on top of ARSCNView"
First, great work with this library - really really useful!

In the app that I am building I am overlaying 2d content (UIViews) on top of the AR content.

When recording, I would love to be able to record photo/video with *everything* that's in this other view that's overlaying the ARSCNView, not just the ARSCNView content.

Any thoughts on whether / how / when that would be possible?

Thanks!
Oct

[2018-03-01 16:12] AFathi commented on #28
@okvivi,

Since you're using `ARSCNView`, I believe you can easily diffuse the `UIView` material into your scene in order to record a video with the 2D content overlay.

To diffuse the material of  a `UIView` into an `ARSCNView` try implementing the following block of code:

[code]

Try this out and let me know if that what you're trying to achieve.

-Ahmed

[2018-03-01 17:02] okvivi commented on #28
Hey, thanks for the super quick reply! That's not quite what I am trying to achieve, though I might try a similar hack at some point...

The UIView that I'm trying to render in the video is like a 2D layer on the screen - a 2D drawing that's always on the user's screen.

Like in SnapChat, where you have the 2D overlay filters that show your location, or something... just an image on top of the cam

[2018-03-01 17:12] AFathi commented on #28
@okvivi, are you trying to merge the UIView layer after recording the video?

[2018-03-01 20:34] okvivi commented on #28
Hey Ahmed -

The solution you're suggesting does not work. Even conceptually, showing a plane that shows a UIView in it is not what I'm looking for.

The solution I'm talking about is more like this one here https://github.com/lacyrhoades/SceneKit2Video/blob/master/Classes/VideoRenderer.swift#L134

I want to overlay a static, 2D image, screen-sized, onto the video / photos that ARVideoKit is takin

[2018-03-01 20:47] AFathi commented on #28
@okvivi, that makes more sense! I misunderstood the question

[2018-03-02 20:43] okvivi commented on #28
For what it's worth, in case it helps anybody in the future.

If you're using SCNRenderer to grab video from a SceneKit (ARKit) scene, you can use renderer.overlaySKScene to overlay a SpriteKit scene that renders 2d content.

That way the recording is really effective and fast, and you can do whatever 2D animations and overlays you want, and the SCNRenderer takes care of the blending.

[2018-03-07 12:19] miliPolo opened #29 "Failed to verify bitcode in ARVideoKit.framework/ARVideoKit"
Failed to verify bitcode in ARVideoKit.framework/ARVideoKit:
error: Cannot extract bundle from /var/folders/2v/_0rv13nn7911fdl1dt16wmjc0000gn/T/XcodeDistPipeline.JDt/Root/Payload/test.app/Frameworks/ARVideoKit.framework/ARVideoKit (x86_64)

[2018-03-13 00:47] mssjappjwt opened #30 "Potential Memory Leak"
First of all, thank you for sharing this framework!

I've been getting errors when the app goes into background:
`Execution of the command buffer was aborted due to an error during execution. Insufficient Permission`

I suspect the RecordAR is never been dealloc, maybe because `RecordAR` holds a strong reference to `ARSceneKit` which might potentially create a retain cycle in certain cases?

Thank

[2018-03-13 04:02] AFathi commented on #30
Will investigate the issue and get back to you soon.

[2018-03-13 06:13] mssjappjwt commented on #30
Thank you!

To give you a little more context, in my case I have a button that can switch between AR camera and normal camera. So if you choose to programmatically initialize and add `ARSCNView` to the view hierarchy based on certain action. You'll have `UIViewController` holding a strong reference to `ARSCNView`, `UIViewController` holding a strong reference to `RecordAR ` and `RecordAR` holding

[2018-03-13 14:32] pionl commented on #22
@AFathi How you founded any code?

[2018-03-14 10:00] shashank-rps opened #31 "Crash : While recording if I take app in background and call *stopAndExport*"
If I am recording a video and while recording I take my app in the background, I call following function `stopAndExport` but calling this leads to crash which says

`*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '*** -[AVAssetWriter finishWritingWithCompletionHandler:] Cannot call method when status is 1'`

I guess `finishWriting()` is not called on `Ass

[2018-03-14 10:07] #29 closed

[2018-03-14 10:32] #31 closed

[2018-03-15 02:20] miliPolo commented on #16
I I read the source code and found that I needed to set the parameters of the Render.
In the function func doRender(scene: SCNScene, withOptions options: VideoRendererOptions, until: @escaping () -> (Bool), andThen: @escaping (_: URL) -> ())
Like this
Let renderer = SCNRenderer(device: nil, options: nil)
The renderer. Scene = scene
The renderer. AutoenablesDefaultLighting = true
It works！

[2018-03-15 02:21] miliPolo commented on #16
@huntermonk @AFathi
I read the source code and found that I needed to set the parameters of the Render.
In the function func doRender(scene: SCNScene, withOptions options: VideoRendererOptions, until: @Escaping () -> (Bool), andThen: @Escaping (_: URL) -> ())
Like this
Let renderer = SCNRenderer(device: nil, options: nil)
The renderer. Scene = scene
The renderer. AutoenablesDefaultLighting = true

[2018-03-15 02:22] huntermonk commented on #16
@miliPolo nice! Are you planning on submitting a PR?

[2018-03-15 07:54] v164237 opened #32 "Swift 4.1 can't use"
I had updated the Xcode to 9.3 beta. It shows me the message "Module compiled with Swift 4.0.3 cannot be imported in Swift 4.1".

[2018-03-15 12:02] miliPolo commented on #16
@huntermonk  Hi, I have commit the code

[2018-03-15 19:59] #16 closed

[2018-03-15 20:01] AFathi commented on #16
@huntermonk, I just merged @miliPolo 's commit to the master branch!

[2018-03-19 16:12] AFathi commented on #32
Hey @v164237, are you using the binary (.framework) file?

-Ahmed

[2018-03-22 15:07] drawItForMe opened #34 "Get video stream in real time"
Thank you for sharing this framework which is really usefull !

I have seen that your func record() starts or resumes recording a video but we can access to the video only when we stop recording. In my case, I need to get the video stream from ARkit continuously and in real time (streaming app). How to get the stream please ?

Eric

[2018-03-22 22:44] AFathi commented on #34
Hey @drawItForMe,

In order to retrieve the rendered frames in real-time you'll need to do the following:

1. Include [`RenderARDelegate`](https://github.com/AFathi/ARVideoKit/wiki/RenderARDelegate) into your `UIViewController` class
[code]

2. Set [`renderAR`](https://github.com/AFathi/ARVideoKit/wiki/RecordAR#delegate-configurations) to self
[code]

3. Add delegate function
[code]

[2018-03-23 15:19] drawItForMe commented on #34
Thank you @AFathi, it helped me a lot!

For my streaming screen sharing app, I am using WebRTC (https://github.com/MattGson/SwiftWebRTC).
Do you know if I can retrieve the rendered frames in real-time in an other format instead of CVPixelBuffer please?

Eric

[2018-03-26 09:17] drawItForMe commented on #34
My bad, the issue is not from your side but from SwiftWebRTC. I don't know at all what is the format needed for WebRTC framework...

[2018-03-27 12:47] senthilece01 commented on #13
is it done ?

[2018-03-30 07:43] qingshichangjie commented on #32
error: The following binaries use incompatible versions of Swift:
xx.app/Frameworks/ARVideoKit.framework/ARVideoKit

[2018-03-30 07:45] qingshichangjie commented on #32
xcode9.3. swift4.1 build failed.
error: The following binaries use incompatible versions of Swift:
xx.app/Frameworks/ARVideoKit.framework/ARVideoKit

[2018-04-01 10:18] Vicapps commented on #32
Same here, not working on XCode 9.3 (not beta)

[2018-04-02 03:18] zyangSir commented on #32
@AFathi @v164237 same problem, can we just use source code now, since @AFathi has open sourced this project?

[2018-04-02 11:16] shashank-rps commented on #32
Same issue for me. Any workaround for this?

[2018-04-02 16:30] AFathi commented on #32
@shashank-rps @v164237 @zyangSir @Vicapps,

I'd recommend using the source code rather than using the binary file (`.framework` file).

[2018-04-09 07:26] mayuritalaviya-nv opened #35 "what to do if i want to stop video saved in iPhone Photos?"
I am used SceneKit.
I want to stop video saved in iPhone photos, because new created video is already saved in App Document directory.

Thanks.

[2018-04-11 07:25] anushkmittal commented on #32
FYI, you just need to rebuild the framework with target swift language and then import it :)

[2018-04-11 07:42] anushkmittal opened #36 "doesn't recording ARBrush"
Doesn't capture the drawing made using this: https://github.com/laanlabs/ARBrush.

I'm not exactly sure what's going wrong, any leads appreciated.. :)

[2018-04-15 15:00] jslusser commented on #32
I'm a newbie coder and need some help here with how to "rebuild the framework with target swift language and then import it'.  I've imported repository to Xcode, in Build Settings> Swift Compiler - Language, changed it to 4.1, build and ran that code. Then I went back into the RecordARKit-SpriteKit demo project, deleted the original ARVideoKit.framework file, dragged the 'new" .framework file into

[2018-04-20 18:27] allenwixted commented on #32
@anushkmittal can you list some steps on how to rebuild the framework?

[2018-04-21 02:12] LeonardRockstar commented on #32
@allenwixted open the "ARVideoKit.xcodeproj" file and build it. Then go to products -> ARVideoKit.framework -> right click "show in finder" -> Import that framework into your project

[2018-04-21 12:02] mayuritalaviya-nv opened #37 "Failed to verify bitcode in ARVideoKit.framework/ARVideoKit: error: Cannot extract bundle from /var/folders/6g/4qwgtxn519973ksvtg8jds080000gn/T/IDEDistributionOptionThinning.yV7/Payload/ARTeam.app/Frameworks/ARVideoKit.framework/ARVideoKit (i386)"

[2018-04-21 16:58] AFathi commented on #37
@mayuritalaviya-nv,

Please follow the instruction on the main [README](https://github.com/AFathi/ARVideoKit#publishing-to-the-app-store) file.

[2018-04-21 17:12] allenwixted commented on #32
@LeonardRockstar thanks for those detailed instructions. Have followed them on Version 9.4 beta (9Q1004a) but am still in the same situation. Has me stumped. Should I be doing anything else as a pre-requisite? Is it possible that the repo could be updated to support 4.1?

[2018-04-28 22:26] gheatley opened #38 "Crashes Immediately on Record"
<img width="369" alt="callstack" src="https://user-images.githubusercontent.com/19663985/39401370-773025a4-4b3b-11e8-9da6-1db9a0ff1310.png">
<img width="1053" alt="workspace" src="https://user-images.githubusercontent.com/19663985/39401372-82687f5c-4b3b-11e8-817c-69fa9321dac2.png">

iPhone X iOS 11.3
ARSCNView
Any ideas?

[2018-04-28 22:41] AFathi commented on #38
@gheatley, can you share how you're configuring `RecordAR` object in your project?

[2018-04-28 23:00] gheatley commented on #38
pretty much as mandated:
[code]
This startSession is NOT called from viewWillAppear()
[code]
Recording triggered like so:

[code]

I have tinkered-around with the settings to try different things to no avail. I DID manage to get it to record once successfully though. (Beautiful results btw). Have tried starting the record both with & without being on those queues.

[2018-04-28 23:09] gheatley commented on #38
Looks like it's mentioning audio there at the top of the stack. Maybe if Mic recording is disabled? I am using 3D positional audio in the scene.. if that would affect things in any way..

[2018-04-28 23:37] gheatley commented on #38
NB: After further playing, GIFs crash too exactly the same. However, Photos & LivePhotos work fine.

[2018-04-29 11:44] gheatley commented on #38
Ok. I've found what's causing it: **Audio played on SceneKit Nodes**. I can't be sure if it's strictly nodes employing positional audio or just any nodes playing audio at all in the SCNScene (as I'm using both). But as soon as i detatch my SCNNodes which have audio playing & then run & record, it works!
Any way we can fix this?

[2018-04-29 18:34] AFathi commented on #38
@gheatley, try this:

[code]

[2018-04-29 19:32] gheatley commented on #38
That reduces the crash rate to about just 50% of the time. However there is no audio at all (nor the mic audio) in the finished recordings.

[2018-05-01 14:10] allenwixted opened #39 "Unable to Archive due to Bitcode"
I have been getting this error over the last week and am unable to resolve it. Apologies if this is incorrect usage of the "issues" tab.

`Auto-Linking bitcode bundle could not be generated because '/Users/allenwixted/Desktop/iOS : OS X/NoPlaceLike/Frameworks/ARVideoKit.framework/ARVideoKit' was built without full bitcode. All frameworks and dylibs for bitcode must be generated from Xcode Archive

[2018-05-01 16:33] AFathi commented on #39
@allenwixted, are you using the `.framework` binary file?

If so, I'd recommend to follow those steps:

[2018-05-01 16:35] AFathi commented on #38
@gheatley, I'll try to reproduce this bug and get back to you soon.

[2018-05-02 15:49] allenwixted commented on #39
Hi @AFathi I couldnt get it to work so I just removed the framework and went with importing the code folder itself. Thanks for responding though. Side Q regarding licencing, my app doesn't have a licence page yet (it's just a basic table view with ARViews spanning from those). Is it okay to mention/link ARVideoKit in the AppStore page or is there a specific requirement in what way to give you the

[2018-05-02 19:57] #39 closed

[2018-05-03 06:19] AgapovOne opened #41 "Audio configuration has wrong setup"
I want to disable audio for AR in my project. (Apple declined an app because I don't use a microphone at all for my application, but do require a permit)

When I set `requestMicPermission` or `enableAudio` after RecordAR initialization, it does setup() in viewDidLoad(). That's too early because it would request mic permission even if I don't want to use it.

We can add read-only configuration obje

[2018-05-06 08:00] gheatley commented on #38
Any luck?

[2018-05-14 06:30] anushkmittal commented on #8
bump, still having issues with release build. I have archived and using the release configuration of framework with run script phase, but I'm getting

[code]

[2018-05-18 21:01] youllbejustfine commented on #32
I too am having this issue mentioned by @jslusser. Please advise.

[2018-05-18 21:04] anushkmittal commented on #32
I had a similar issue to @jslusser, just make sure you're running on a real device!

[2018-05-18 21:05] youllbejustfine commented on #32
Thanks for the quick response @anushkmittal - it works when I run on the device. But I'm currently trying to Archive to submit to the App Store, and during the compile it fails. Any idea why?

[2018-05-18 21:05] anushkmittal commented on #32
do select generic iOS device!

[2018-05-18 21:06] youllbejustfine commented on #32
@anushkmittal - yes, Generic iOS Device is indeed selected! Anything else I can try?

[2018-05-18 21:21] youllbejustfine commented on #32
To follow up, much like @allenwixted, I had to set the Deployment Target to iOS 11

[2018-05-28 07:53] devajith commented on #38
not sure , but try this

` screenRecorder?.requestMicPermission = .manual`

my crash got fixed by this.

[2018-05-29 12:49] gheatley commented on #38
Thanks for the suggestion @devajith . Have tried it & sadly this doesn't fix the problem.

[2018-06-04 03:58] gmecija opened #42 "Image Stabilization is off?"
When comparing video taken with the stock iOS camera vs taken with ARVideoKit, it looks like the ARVideoKit video has no image stabilization. I think AVCaptureVideoStabilizationMode needs to be set to auto or cinematic or perhaps just be made user configurable.
I'm not an expert on this, just got the solution idea from this SO question: https://stackoverflow.com/questions/26043995/ios-8-avfoundati

[2018-06-04 20:28] kellum42 opened #43 "Square Video Recording"
Are you able to make the video a square? So the output of the recording is a movie file with a 1x1 aspect ratio?

[2018-06-11 15:28] raulbude commented on #26
I am experiencing the same problem.

[2018-06-18 06:17] nadim7innvonix opened #44 "Module compiled with Swift 4.0.3 cannot be imported in Swift 4.1"
I got this error while compile with the given ARVideoKit.framework

Can any one help?

[2018-06-19 09:30] Kelmatou commented on #44
Download source code, open ARVideoKit.xcodeproj and build project for your device.
Then get the framework from Products and replace the old framework in your project by this one.

[2018-06-19 09:32] Kelmatou commented on #8
Check my pull request https://github.com/Kelmatou/ARVideoKit/tree/feature_bitcode_release
I added build settings info. Just follow the instructions in "Publishing to the App Store".
Tell me if it didn't work

[2018-06-25 10:23] anilios opened #46 "Not recording complete ARSceneview"
Recorder only records a part of the scene view not all of it. This is the actual scene view:
![skype_picture](https://user-images.githubusercontent.com/694814/41844890-4895e360-788f-11e8-9096-53a97bd4f711.jpeg)

you can see both eyes here but the recorder only records this much area:
![skype_picture 1](https://user-images.githubusercontent.com/694814/41844960-79d93864-788f-11e8-8554-e1bf333622d6.j

[2018-07-02 17:29] Cez95 opened #47 "'RecordARDelegate' is unavailable: cannot find Swift declaration for this protocol"
I followed the first setup instructions and when I did so it ran fine on my physical device, however, its not able to complile on the simulators. How can I work around this problem as I still need to test other aspects of my app on the simulator. Thanks

[2018-07-02 17:58] AFathi commented on #47
@Cez95 can you clarify what error you're receiving when you run your application on a simulator?

[2018-07-02 18:19] Cez95 commented on #47
Yea, the error I get is 'RecordARDelegate' is unavailable: cannot find Swift declaration for this protocol. Its a runtime error and when I run the app on my physical device it disapears. Only shows when I have a simulator as the deployent target

[2018-07-03 18:00] Cez95 commented on #47
Unfortunately, none of these solutions work. The problem continues to persist for simulators. Will there be a cocoa pod for this project available in the future?

[2018-07-03 18:06] AFathi commented on #47
@Cez95, yes I'm currently working on it under the [`pkg-manager`](https://github.com/AFathi/ARVideoKit/tree/pkg-manager) branch.

However, in the mean time I'd recommend installing the framework by dragging the `ARVideoKit.xcodeproj` into your project.

[2018-07-05 07:38] auchung3000developer opened #48 "How can i improve the quality of video or photo captured by ARVideoKit"
Hi, ARVideoKit is very useful to me.
I discover that the quality of photo/video i captured by using ARVideoKit is not the same what i see in the screen (downgraded in resolution i guess).
So i want to know
**How can i improve the quality of video or photo captured by ARVideoKit**?
**Is there any ways to change the resolution?**
Thanks a lot.

[2018-07-08 22:42] AFathi commented on #47
@Cez95, you can now install **ARVideoKit** using Cocoapods by doing the following:

1. add this line to your `Podfile`:
[code]
2. then install
[code]

[2018-07-08 22:42] #47 closed

[2018-07-08 22:43] Cez95 commented on #47
This is perfect! I was still having issues with inserting the framework but this changes the game! Thank you!

Sent from my iPhone

[2018-07-09 17:48] ggabogarcia opened #54 "Logo proposal for ARVideoKit"
Hello, I'm a graphic designer and I like to collaborate with open source projects. I would like to design a logo for your Project I will be happy to collaborate with you :)

[2018-07-09 17:52] AFathi commented on #54
Hi @ggabogarcia,

Absolutely, feel free to design the logo and attach it to a comment here or update the `README.md`  file and create a pull request!

[2018-07-09 17:55] AFathi commented on #54
@ggabogarcia, I will also add your name (and portfolio) in a credits section in the repository!

[2018-07-09 17:55] ggabogarcia commented on #54
I will start to make some sketches :)

[2018-07-09 17:56] AFathi commented on #54
Awesome, looking forward to seeing it!

[2018-07-10 05:31] UninhibitedSoul opened #55 "memory isssue cause crash (Terminated due to memory issue)"
![DebugInfo](http://7xt7qo.com2.z0.glb.clouddn.com/instruments.png)

 func frame(didRender buffer: CVPixelBuffer, with time: CMTime, using rawBuffer: CVPixelBuffer) {
        if capture != nil {
            capture?.didCaptureCVPixelBufferRef(buffer, time: time, usingRowBuffer: rawBuffer)
        }
 }
I use  WebRTC capture and send CVPixelBuffer.
I update ARVideoKit.framework yesterday afternoon ,

[2018-07-10 16:23] AFathi commented on #55
@UninhibitedSoul, which version are you using?

[2018-07-10 19:40] AFathi commented on #41
@AgapovOne, check out latest commit: https://github.com/AFathi/ARVideoKit/tree/f79760470edb37e64381042cd80152c16b71832b

[2018-07-10 19:40] #41 closed

[2018-07-10 20:09] #24 closed

[2018-07-10 20:10] AFathi commented on #24
Fix for the issue has been included in v. 1.3

[2018-07-10 21:47] ggabogarcia commented on #54
Hello sir, here is my proposal, I hope you like it :) The idea is simple but with great impact. :) Any suggestions let me know :)

![arvideokit](https://user-images.githubusercontent.com/35750428/42539470-cf54ce20-8460-11e8-89c6-d41f3fd36ff4.jpg)

[2018-07-11 02:32] UninhibitedSoul commented on #55
@AFathi Release 1.3.1

[2018-07-11 02:39] AFathi commented on #55
@UninhibitedSoul, will investigate the issue and get back to you soon

[2018-07-11 02:43] AFathi commented on #54
@ggabogarcia, looking good! I only have a comment about that misaligned line, not sure if it's on purpose or a mistake but I'd try to make it a straight line :)
<img width="58" alt="screen shot 2018-07-10 at 10 40 24 pm" src="https://user-images.githubusercontent.com/4106695/42547886-54bcf8c2-8492-11e8-9c06-33d6b3e5300e.png">
<img width="52" alt="screen shot 2018-07-10 at 10 40 19 pm" src="https:/

[2018-07-11 02:53] ggabogarcia commented on #54
Do not worry, that's just a draft :)

[2018-07-11 02:55] AFathi commented on #54
@ggabogarcia, sounds good! it looks great so far!

[2018-07-11 02:55] ggabogarcia commented on #54
I would like to know if you like it, or do you want to make some changes? otherwise, I will do the final art and send you all editable files, EPS, SVG and PDF :)

[2018-07-11 03:03] ggabogarcia commented on #54
@AFathi Maybe you were thinking about something else? :)

[2018-07-11 03:04] AFathi commented on #54
@ggabogarcia, the only change I'd suggest is maybe changing the colors a little bit. I'd try red instead of orange, lighter purple, and off or darker blue.

[2018-07-11 03:06] AFathi commented on #54
take a look at the colors I'm using on my website's bio: http://www.ahmedbekhit.com
<img width="1226" alt="screen shot 2018-07-10 at 11 05 51 pm" src="https://user-images.githubusercontent.com/4106695/42548591-cf826eae-8495-11e8-8bfb-8ee36bf90e97.png">

[2018-07-11 03:12] ggabogarcia commented on #54
I get it! I will make the change of colors :)

[2018-07-11 07:15] ryohey commented on #23
The landscape problem seems to be ARKit's bug. Not specifically in ARVideoKit, we can fix it by rotating camera image by setting `background.contents`.
However, this solution makes app slower but we don't need to rotate views manually in `deviceDidRotate`

[code]

[2018-07-11 17:02] ggabogarcia commented on #54
Hello, this is final art, on the left I used the colors of your website, on the right the colors that you suggested to me :)

![arvideokit 1](https://user-images.githubusercontent.com/35750428/42587917-cbf33612-8501-11e8-851e-feeaf939600c.jpg)

[2018-07-11 17:22] AFathi commented on #54
@ggabogarcia, both icons look beautiful 😍! Do you mind emailing me the editable files of both icons to: me@ahmedbekhit.com

[2018-07-11 17:32] ggabogarcia commented on #54
Of course if :) let me prepare them, I'm glad you'll like them :smile:

[2018-07-11 20:23] AFathi commented on #54
@ggabogarcia, let me know when you email the files to me 😊!

[2018-07-11 20:41] ggabogarcia commented on #54
I'm on it :smile_cat:

[2018-07-11 20:55] ggabogarcia commented on #54
Ready! Archives sended :)

[2018-07-11 20:59] ggabogarcia commented on #54
![DERECHOS.jpg](https://cdn.steemitimages.com/DQmVSH7hxt3nuyDxNRdWUBUBtfR11TyvLxM1F1C4vYW5UzG/DERECHOS.jpg)
This work is licensed under a [Creative Commons Attribution 4.0 International License](https://creativecommons.org/licenses/by/4.0/)

[2018-07-12 00:47] ggabogarcia commented on #54
:thinking: Maybe I can do something

[2018-07-12 02:02] AFathi commented on #54
Sure, fee free to try out what you’re thinking :)

On Wed, Jul 11, 2018 at 8:48 PM Gabriel Garcia < Gabriel Garcia ( Gabriel Garcia <notifications@github.com> ) > wrote:

[2018-07-13 14:13] ggabogarcia commented on #54
Hello sir, this is the idea for the readme, I hope you like it :smile: . The photo of the corridor is blurred since I do not have the original file

![banner](https://user-images.githubusercontent.com/35750428/42696170-fee27fde-867c-11e8-8a5e-8b1e1fea4970.jpg)

[2018-07-13 17:02] AFathi commented on #54
@ggabogarcia, looking good! I'd only change the footer color from green to black or off white (#f1f1f1)

[2018-07-13 18:53] pingusNikalex opened #56 "Landscape mode"
How to use this libs for recording video in landscape and portrait application. If ARVideoKit always set device orientation in portrait mode?

[2018-07-13 22:06] ggabogarcia commented on #54
![banner 2](https://user-images.githubusercontent.com/35750428/42716004-156749aa-86bf-11e8-9b35-cf4c4fd1fee9.jpg)

[2018-07-14 16:40] AFathi commented on #54
@ggabogarcia, just added to the header to the repo's README file and added your work's license to the [License](https://github.com/AFathi/ARVideoKit#license) section :)

Please let me know if you'd like to edit or add something to the license section.

Thank you so much for your contribution to **ARVideoKit** 🙏😊

[2018-07-14 16:40] #54 closed

[2018-07-16 17:24] AFathi commented on #56
@pingusNikalex, **ARVideoKit** do support landscape and portrait recording. To properly setup your application for this use please add the following to your application's delegate file:

[code]

then customize the following properties:
[code]
Check the documentation of [`ARView`](https://github.com/AFathi/ARVideoKit/wiki/ARView) for more info.

[2018-07-16 17:24] #56 closed

[2018-07-17 08:41] gheatley opened #57 "ARFrameMode Compile Errors"
Seems to be a little error with the latest commit. When I attempt to compile:

<img width="720" alt="screen shot 2018-07-17 at 09 36 36" src="https://user-images.githubusercontent.com/19663985/42806086-823f0444-89a5-11e8-8670-6867e49ed329.png">

[2018-07-17 16:17] AFathi commented on #57
@gheatley, I believe you're using Xcode 10 beta. If so, I'll investigate the issue when the Xcode 10 stable release is out. Otherwise, please let me know what version of Xcode you're using?

[2018-07-17 16:25] AFathi commented on #57
@gheatley, I just found where the issue is coming from, will push a new update in a few moments

[2018-07-17 16:32] #57 closed

[2018-07-19 03:38] UninhibitedSoul commented on #55
If i use extension to conform  protocol 'RenderARDelegate',I send CVPixelBuffer to webrtc.Within half a minute, the memory will exceed 1G. Then my app Crash.
***

    //MARK: RenderARDelegate
    extension RARShareARViewController : RenderARDelegate {

        func frame(didRender buffer: CVPixelBuffer, with time: CMTime, using rawBuffer: CVPixelBuffer) {
            if capture != nil {

[2018-07-19 06:29] devajith commented on #30
facing the same issue. RecordAR holding strong reference to the ARSCNView.

[2018-07-19 06:35] devajith commented on #30
@mssjappjwt did you find any workaround for this like passing unowned or weak ARSCNView ?

[2018-07-21 15:58] AFathi commented on #55
@UninhibitedSoul, thanks for clarifying this to me. I believe the issue may be occurring due to the fact that `frame(didRender buffer: CVPixelBuffer, with time: CMTime, using rawBuffer: CVPixelBuffer)` is executed in an extension of `RecordAR`.

I'd suggest to go to `RecordAR.swift` file located at `/ARVideoKit/Sources/` then scroll down all the way to the following block of code:
[code]

then cut

[2018-07-21 15:58] AFathi commented on #55
@UninhibitedSoul, please let me know whether the changes I suggested fixed the issue you're having.

[2018-07-22 10:03] gheatley opened #58 "LivePhoto = nil CRASH"
<img width="1440" alt="screen shot 2018-07-22 at 10 55 05" src="https://user-images.githubusercontent.com/19663985/43044485-a47babc8-8d9e-11e8-80a2-f1759a131337.png">
<img width="852" alt="screen shot 2018-07-22 at 10 55 47" src="https://user-images.githubusercontent.com/19663985/43044486-a794ffbc-8d9e-11e8-9940-a8fb383accba.png">

I _am_ using iOS12 beta 4 with XCode 10 yes, but the same problem

[2018-07-28 14:42] pingchen114 commented on #36
I guess that because ARBrush is rendering directly by Metal, which means when in ARSceneView we couldn't know there was a painting.

[2018-07-29 04:54] pingchen114 commented on #58
@gheatley I can see from your screenshot "Generate+LivePhoto.swift: line 58", the attempt to unwrap `photo` has already failed in this case. So I think your issue should be unwrapping a nil value.

[2018-07-29 05:00] pingchen114 commented on #48
Currently I would suggest you to config your `ARWorldTrackingConfiguration` setting in the run time. It has several video settings including higher quality video. (And it also is supported to be configured in the run time.

[2018-08-01 09:35] UninhibitedSoul commented on #55
I'm so sorry！I can't reappear this bug.
I tried to use extension to conform protocol 'RenderARDelegate'.
I tried to roll back the code.
But,I can't reappear this bug. The memory will not exceed 200M. My app won't crash.
Thanks for you help.

[2018-08-01 09:45] #55 closed

[2018-08-10 03:12] DPRuin commented on #30
how to fix

[2018-08-27 08:34] UninhibitedSoul commented on #9
Hey  @AFathi ,
I use the latest ARVideoKit-Example Demo ,Framework version is 1.31,
deinit method in SCNViewController did not called after go back to MainViewController.
The issue still exists.

[2018-09-24 06:10] DanishRehma opened #61 "Unable to find Framework for Swift 4.2"
Hello, I am using Xcode 10 and Swift 4.2. I am unable to find compiled framework for Swift 4.2, I have tried Swift 4.2 branch but is contain the framework compiled for Swift 4.1.2. Please refer me where I could get latest framework. Thanks

[2018-09-26 03:37] UninhibitedSoul commented on #61
You can see #44 issue

[2018-09-26 03:40] UninhibitedSoul commented on #61
Same as #32.  LeonardRockstar commented on Apr 21

[2018-09-27 06:00] DanishRehma commented on #61
Thank you, It is working now 👍

[2018-09-27 06:00] #61 closed

[2018-10-02 19:14] pptlabs opened #62 "SceneView AR objects stretched on iPhone 7/8 Plus devices running iOS 12"
Hello AFathi, we've been using your ARVideoKit in our app and it's super great! But we have run into a bug with iPhone 7/8 Plus devices running iOS 12.

We are finding that the recorded video on an iPhone 7/8 Plus is being captured at 4:3 aspect ratio, with the AR objects in the SceneView stretched (width). This is a new problem that has only occurred since the release of iOS 12- other devices run

[2018-10-02 19:38] pptlabs commented on #62
Hi Ahmed,

I have a folder here <https://drive.google.com/drive/folders/1LbxeKtTVFwo3Wn0qSCdr8xaVBd0j4W9m?usp=sharing> with the screen recording from the device (iPhone 7Plus) and the produced video.

Lukas, our developer is Cc’d on this email. He would be the go to re: any technical questions on this.

Andrew

[2018-10-03 14:03] AFathi commented on #62
Hey,
Can you try modifying the RecordAR.contentMode based on the device running your application?

Unfortunately I don’t have access to a large phone screen to reproduce that issue.

Please let me know if that resolves the issue!

[2018-10-03 14:05] gheatley opened #63 "Orientation & dimensions of Recordings on iPad are wrong"
Hi Ahmed, ARVideoKit is amazing, I can't live without it now. Please help!

I am finding a major issue when trying to record on iPad.

When recording in portrait, orientations appear correct. But the resultant video is squashed horizintally and is not iPad screen dimensions.

If you try to record in other orientations  the dimensions are squashed as with portrait, but also the recordings are saved

[2018-10-03 20:44] pptlabs commented on #62
Hey,

We tried it and it worked. Thanks!

[2018-10-04 16:00] gheatley commented on #58
Sometimes the LivePhoto works ok, sometimes it doesn't.
The problem is originating here in Generate+LivePhoto:

[code]

This is occurring regularly now. I get the error **Error: Invalid video metadata**
iOS12 Swift 4.2 XCode10 on iPhoneX device
Really could do with sorting this one

[2018-10-08 13:21] pptlabs opened #64 "ARVideoKit not able to record video on iPhone XS/XR/XMax running iOS 12"
Hello, we are finding that ARVideoKit (Swift 4.2 branch) is unable to write video/audio on iPhone XS/XR/XMax devices running iOS12. We have tested the Example project and are experiencing the same issue.

The error in the debugger is:
ARVideoKit @ 1539003739.21878:- An error occurred while recording the video, status: 3, error: The operation could not be completed

[2018-10-13 14:04] pptlabs commented on #64
Hi Ahmed, thanks for taking the time to chat with me to help lead me through possible approaches to troubleshooting this issue. I have found the source of the problem is with the **sourcePixelBufferAttributes** being passed into the **AVAssetWriterInputPixelBufferAdaptor** in the **WritAR** class: https://github.com/AFathi/ARVideoKit/blob/master/ARVideoKit/Rendering/Writer/WritAR.swift#L67

Bypass

[2018-10-25 06:36] anilios commented on #30
Facing same issue, app crashing..

[2018-10-28 14:45] miliPolo opened #65 "App can't run on iOS 12 when i add SCNParticleSystem to scnnode"
validateFunctionArguments:3469: failed assertion `Vertex Function(uberparticle_vert): missing buffer binding at index 19 for vertexBuffer.1[0].'

[2018-10-29 12:22] AFathi commented on #65
@miliPolo, can you please elaborate on when exactly the crash is occurring.

-Ahmed

[2018-10-29 12:44] miliPolo commented on #65
when I added the SCNParticleSystem to the SCNNode, The app was crashed.
I added the below code in viewDidLoad():
`let sceneFilterNode = SCNNode()
        let particleSystem = SCNParticleSystem(named: filterName, inDirectory: nil)
        sceneFilterNode.addParticleSystem(particleSystem!)
        self.sceneView.scene.rootNode.addChildNode(sceneFilterNode)`

[2018-10-29 12:47] AFathi commented on #65
@miliPolo, have you tried disabling ARVideoKit to check whether the framework is the source of the crash or not?

[2018-10-29 12:53] miliPolo commented on #65
Hi, i added this code in your demo project ARVideoKit-Example.

[2018-10-29 13:17] miliPolo commented on #65
The code seems to crash here：
var buffer: CVPixelBuffer?
pixelsQueue.sync {
                renderedFrame = renderEngine.snapshot(atTime: self.time, with: size, antialiasingMode: .none)
            }

[2018-11-02 14:16] franobarrio commented on #65
Hey ! It's happening the same to me :(
I can't find a way to make it work.. Any ideas ?

[2018-11-17 06:11] onlyonemuthuraj opened #66 "Module compiled with Swift 4.1.2 cannot be imported by the Swift 4.2 compiler: /myproject/ARVideoKit.framework/Modules/ARVideoKit.swiftmodule/arm64.swiftmodule"
import ARVideoKit

Module compiled with Swift 4.1.2 cannot be imported by the Swift 4.2 compiler: /myproject/ARVideoKit.framework/Modules/ARVideoKit.swiftmodule/arm64.swiftmodule

Xcode version: 10

ARVideoKit version swift 4.2

[2018-11-21 10:40] bacc3 commented on #65
i have the same issue

[2018-11-23 14:12] shimeny opened #67 "Not registering SKScene from ARSceneView"
Hi Ahmed,

Great Repo. With an ARSceneView we can include an SKScene using 'sceneView.overlaySKScene = scene'. However ARVideoKit doesn't include the SKScene in the output of 'recorder = RecordAR(ARSceneKit: self.sceneView)'. Any Ideas?

[2018-11-26 08:34] happythoughts247 commented on #66
Yea, I'm getting the same error too.  Isn't this supposed to be the 4.2 build?  Maybe I downloaded the wrong one because the header says 4.1.2

[2018-12-03 07:45] Mitesh-Mewada opened #68 "How to add Gesture on AR objects"
Thank you for creating great useful library.
I am using this library and i want add **TapGesture** and **PinchGesture** on AR Object, how to add this, any one was done it? any idea how to i do that.
Thanks.

[2018-12-04 14:26] Mitesh-Mewada opened #69 "how to hide Monitoring detail"
I implement this lib. but when is run that time bottom side sow some detail(**Animations, Physics, Constraints, Particles, Delegate, Rendering, GPU and 2D**) how to hide or remove in my Application.
Please help me.

[2018-12-04 14:46] AFathi commented on #69
@Mitesh-Mewada, in order to hide these analysis you may use the following property in set it to `false`.

**SceneKit**
[code]

**SpriteKit**
[code]

[2018-12-04 14:46] #69 closed

[2018-12-04 14:49] AFathi commented on #68
@Mitesh-Mewada, you may check the following [article](https://developer.apple.com/documentation/arkit/handling_3d_interaction_and_ui_controls_in_augmented_reality) by Apple to implement gestures to interact with AR objects.

https://developer.apple.com/documentation/arkit/handling_3d_interaction_and_ui_controls_in_augmented_reality

[2018-12-04 14:49] #68 closed

[2018-12-04 14:50] AFathi commented on #67
@shimeny, will investigate the issue and get back to you soon.

[2018-12-06 07:21] dogtownmedia commented on #63
resultant video is squashed horizintally for iphone X max running ios 12.1 as well.

[2018-12-15 09:42] DPRuin commented on #30
Facing same issue, app crashing..

[2018-12-17 21:01] youllbejustfine commented on #66
You'll need to rebuild the Framework bundle for Swift 4.2.

To do so, you'll need to use Carthage. Firstly, make sure it's installed on your computer. Then navigate to the ARVideoKit project folder in Terminal, and run the following command:

`carthage build --no-skip-current`

Then navigate to the ARVideoKit project folder and look in the Carthage/Build/iOS folder, and drag that ARVideoKit.framew

[2019-01-14 15:07] dneprDroid commented on #30
Taking global strong reference to view object is a bad idea:

[code]

... and other classes.

[2019-01-14 15:22] AFathi commented on #30
@dneprDroid

Feel free to submit a pull request witb the fixes.

[2019-01-18 09:51] #18 closed

[2019-01-18 20:42] pptlabs commented on #64
Update on this for anyone who is reading this: It has been fixed.

[2019-01-18 22:10] #64 closed

[2019-01-28 12:12] blgn commented on #65
I have the same crash on iOS 12. Is there any solution?

[2019-02-07 09:39] gheatley commented on #63
Any chance a fix for this is in the works?

[2019-02-07 17:03] AFathi commented on #63
@gheatley @seandmccue, I unfortunately don't have access to neither an iPad or iPhone X. Can you share with me screenshots of the issue.

Thanks.

[2019-02-11 01:05] bergenrothn97 commented on #26
My videos are recorded differently than what they are on the screen. My text nodes are oriented differently in the recorded movie than they are in the ARKit SceneView. Can you help?

[2019-02-11 02:05] bergenrothn97 commented on #26
Nevermind, figured it out. Turns out I had a camera node in my scn file and ARVideoKit was taken video from that point.

[2019-02-12 09:05] gheatley commented on #63
@AFathi Ok, I'm hoping this is what you need to put this bug away once & for all..
After doing some investigating with an iPad Pro 12.9", there are two separate issues going on:

**1.** When you first use ARVideoKit after a fresh app launch, the FIRST photo/video/gif/live photo you capture in ANY device orientation comes in in Portrait orientation & squashed horizontally. It's like there's a fixed

[2019-02-14 00:38] kallipigous commented on #23
Has anyone managed to get this to work in LandscapeRight? I've tried all the above and the video is still in portrait mode with the background rotated and the overlaying scene squished to fit.

[2019-02-14 03:15] kallipigous commented on #63
I also have the same problem with aps running in landscape. The video comes out in portrait with the video rotated and the scene the right orientation but  squished to match the wrong video aspect ratio.

I would dearly love a work around. Unfortunately running the app in portrait is not an option for me.

Cheers

[2019-02-22 18:50] davidvjc opened #76 "Record SCNView?"
In the documentation you mention the ability to record a SCNView. How do I implement that?

The examples don't mention it and when I try using a SCNView instead of an ARSCNView or ARSKView I get errors all around.

`recorder = RecordAR(ARSceneKit: sceneView)`

Does not seem to take SCNView as expected.

[2019-02-22 21:05] AFathi commented on #76
Hi,

Please use this initializer instead:

`RecordAR(SceneKit: 'insert `SCNView` here')`

**Note** that if you installed `ARVideoKit` using the `.framework` file you won't be able to use the scene kit initializer because the binary file is not longer supported.

Regards,
Ahmed Bekhit

[2019-02-22 21:05] #76 closed

[2019-02-22 21:08] davidvjc commented on #76
thanks!

[2019-03-10 16:28] Gerzer commented on #64
Even with the fix, the same error is still occurring for me.

[2019-03-10 16:28] Gerzer commented on #64
@AFathi

[2019-03-10 16:29] Gerzer commented on #64
@pptlabs

[2019-03-19 14:44] berkbirkan opened #78 "work on simulator"
is it possible to work on simulator or iphone witch dont support arkit ?

[2019-03-21 13:35] #66 closed

[2019-03-30 14:41] vikeshj opened #80 "Using custom scncamera issues while recording video deformation occurs"
Hi,
Let me explain  you clearly the issue.
Create a custom camera and set it to a node.
Let cameraNode = SCNNode()
cameraNode.camera = SCNCamera()
cameraNode.camera.useOrthographic =true
zfar= 30 / zNear = 1
For the orthographicScale =3.8
//add the cameraNode to the scene root Node
then make the position it to x0,y0,z17
sceneView pointOfView = cameraNode

When you record the video it cut when ur A

[2019-03-30 14:43] vikeshj commented on #78
No it won’t work on simulao

[2019-03-31 14:09] berkbirkan commented on #78
is it possible to work on iphone witch dont support arkit such as iphone 5 ?

[2019-04-04 14:04] vikeshj commented on #78
NO!

[2019-05-01 14:09] asam139 commented on #30
https://github.com/AFathi/ARVideoKit/pull/82

[2019-05-09 18:18] pptlabs commented on #80
Which iOS device are you using?

[2019-05-21 15:49] A-M-j opened #83 "how to Record two sceneView (Stereo Mode) ?"
Hello Ahmed, I'm Amr

I have to make my app with two views of "ARSCNView"
[code]
then should record them on the same video, how can I add it on recorder ?!

`recorder = RecordAR(ARSceneKit: sceneViewL)`
---
if you can speak Arabic that will be better bro :D

[2019-05-21 16:21] A-M-j commented on #83
this is my merge UIImage

[2019-06-07 11:04] omi9430 opened #84 "import ARVideoKIT error Could not build Objective-C module 'ARVideoKit'"
Hello,
I am facing this issue when i install pod and try to import ARVideoKit the following error show's up"Could not build Objective-C module 'ARVideoKit'" once i manage the scheme this error goes away but then a new one show's up no such module how can i get rid of these error's

[2019-06-07 20:19] omi9430 opened #86 "'ViewAR' is unavailable: cannot find Swift declaration for this class"
Hello,
I couldn't install pods or carthage both were giving error's some how i managed to work with the framework. I copied the framework from clone project. Now in the Appdelegate i am getting error 'ViewAR' is unavailable: cannot find Swift declaration for this class and in View controller same error for RecordAR.

[2019-06-13 00:49] anushkmittal opened #87 "broken with Xcode 11.0 beta 1?"

[2019-06-19 00:47] giogus commented on #87
An issue is happening at the **PHLivePhotoPlus** class.

`Cannot override 'init' which has been marked unavailable`
and
`'init()' is unavailable`

        @objc public override init() {
            super.init()
        }

        @objc public init(photo:PHLivePhoto) {
            super.init()
            livePhoto = photo
        }

Can anyone support us with this issue?

[2019-06-26 12:01] jerryrt opened #88 "iOS 13 & RealityKit support"
Seems Apple introduced a new render path for the coming iOS 13 release with the RealityKit, but it is not supported currently by ARVideoKit.

My attempt is to record the official "CapturingBodyMotionIn3D" demo project with a modified branch but failed.

Here is my branch:
https://github.com/jerryrt/ARVideoKit/tree/ios_13_reality_kit

Now it only crashes the app, with the following log. Any help/su

[2019-06-29 20:45] moh1122 opened #89 "preview video inapp before saving to photo library"
Hello
I Started to use ARVideokit in my project but can you help me to preview the video inapp before saving to photo library. I want to add the share button while previewing the video inside the app and then add a save button to save it to photo library

[2019-07-03 07:37] Rthangavel commented on #87
same issue here too... Anyone solve it?

[2019-07-03 15:47] yuwen-lu commented on #88
I met with a similar issue simply by trying to get the Apple CapturingBodyDetectionIn3D demo running. I haven’t found any solution yet. Is it with the demo app itself or with this framework?🤔

[2019-07-04 03:14] hpayami commented on #89
Hello
I have to know too. Same Issue.

[2019-07-05 13:57] wesleysdossantos opened #90 "Don't support people occlusion"
I tried to record a video with ".personSegmentationWithDepth" enabled but the resulted video don't keep the frame hiding the 3d object.
https://github.com/wesleysdossantos/ARVideoKit

[2019-07-10 11:29] moh1122 opened #91 "Add Watermark"
Hello
Is there a way to add a fixed image as a watermark to the photo captured and video?
Thank you on advance

[2019-07-12 10:04] jerryrt commented on #88
The above crash is largely caused by the demo project. I have crafted a clean demo project to easy the dev&test.

https://github.com/jerryrt/ARVideoKit/blob/ios_13_reality_kit/Examples/Swift/ARVideoKit-Example/View%20Controllers/RKViewController.swift

This is my working branch, at least the RealityKit is running, but the recording is not working(too slow). Currently, my workaround is to capture t

[2019-07-12 13:48] seawolf86 commented on #14
@AFathi How can i setup my video to be 16:9? Also some property for resolution?

[2019-07-16 16:54] Emanuele-Fortunati commented on #63
Same issue on iPhone Xr portrait

[2019-07-18 12:11] SimmaAulakh commented on #80
issue is coming on iPhone 7 but working good on iPhone X

[2019-07-26 06:21] omi9430 opened #92 "One of the greatest framework but has so much errors and no support"
When i install pods it throw's 20 error's and doesn't work properly when i embed framework sceneView doesn't initialize.

[2019-08-21 09:27] wolfcon commented on #87
don't inherit PHLivePhoto.

Author intent to write a packet of PHLivePhoto class. Thats totally wrong way.

[code]
**SHOULD BE LIKE THIS**

[code]

[2019-09-13 14:31] krantonio opened #96 "is there a way to use the recorder for UiView?"

[2019-09-18 05:37] ZacheryWagner opened #97 "Using RecordAR while using iOS Screen Recording causes crash"
This happens both on `record()` and `.photo()` call.

Error:
[code]

I doubt it matters but I'm using the Swift 5 branch.

[2019-10-04 16:45] #91 closed

[2019-10-09 12:27] AFathi commented on #96
@krantonio, `ARVideoKit` doesn't support UIView recording. As of today the framework supports:

1. `ARSCNView`
2. `ARSKView`
3. `SCNView`

[2019-10-09 12:27] #96 closed

[2019-10-21 07:04] westlinkin commented on #90
Have you fix this issue yet? @wesleysdossantos

[2019-10-23 17:09] ppoh71 commented on #90
Any updates on this issue or workarounds?

[2019-10-26 21:15] andreirt commented on #84
I solved this including the swift_5 branch:

pod 'ARVideoKit', :git => 'https://github.com/AFathi/ARVideoKit.git', :branch => 'swift_5'

[2019-11-25 14:28] ChowZhu opened #99 "The scnview is frozen while recording in ARCore"
Hi,
I'm using ARCore to create arvideo, and the codes like this:
 sceneView.scene?.background.contents = videoLayer,

videoLayer.contents = frame.capturedImage as CVPixelBuffer.

but when I record the video, the  videoLayer is frozen.

Thx.

[2020-02-07 10:16] GiacomoLeopizzi commented on #43
Hi! I had the same issue and I think I have a solution to propose.

I added a new ARFrameMode

[code]
And added this code to the bufferSize var in RenderArR.swift (line 40)

[code]
In order to use AVMakeRect I imported AVFoundation in the same file.

@AFathi please let me know what you think about my solution. I think that in this way it's easy to support custom sizes of the recording cause the si

[2020-02-07 16:47] GiacomoLeopizzi commented on #14
Hey guys, I solved as I explained here. I hope it can help!

https://github.com/AFathi/ARVideoKit/issues/43#issuecomment-583324809

[2020-02-08 01:26] AFathi commented on #43
@GiacomoLeopizzi, great approach! Can you create a pull request with these changes?

Also the only thing I'd change is this the force wrapping part.
from this:
[code]

to this:

[code]

or have some kind of a guard statement.

[2020-02-09 09:12] GiacomoLeopizzi commented on #43
@AFathi sure! I’ll do it today.
About the guard, I forced the cast cause I put a where in the case switch. If you think it’s not fine, I can add a guard of course!

[2020-02-10 07:55] lsamaria opened #101 "[AVAssetWriterInput appendSampleBuffer:] Cannot append sample buffer: Must start a session (using -[AVAssetWriter startSessionAtSourceTime:) first"
[code]

I have the vc setup the same exact way that you have it in your [sample project](https://github.com/AFathi/ARVideoKit/blob/master/Examples/Swift/ARVideoKit-Example/View%20Controllers/SCNViewController.swift) except I grab the url once it's time to save:

[code]

Also in viewDidLoad I have this because I display a `SKVideoNode` and I need it for sound:

    do {
            try AVAudioSessi

[2020-02-11 03:22] tulaomaod commented on #101
help，same problem

[2020-02-11 03:24] tulaomaod commented on #101
iPhone 7 plus 13.3， 13.3.1
Will appear

[2020-02-13 14:12] shi-yan opened #102 "possible to capture just the video without the AR overlay?"
If I want to only capture the video stream without the AR overlay, can I do it?

I want to use AR to guide video recording, but I don't want to record the AR overlay.

Thanks!

[2020-02-14 19:20] JorgeFrias opened #103 "Why does the library need NSPhotoLibraryAddUsageDescription and NSPhotoLibraryUsageDescription?"
I cannot understand why are needed both ``NSPhotoLibraryAddUsageDescription`` and ``NSPhotoLibraryUsageDescription``?

I think should only need ``NSPhotoLibraryAddUsageDescription`` because does not read anything from the library.

Am I wrong?

*Thank you.*

[2020-02-16 18:39] digitallysavvy commented on #102
@shi-yan you can get that directly from ARKit using [ARFrame's capturedImage](https://developer.apple.com/documentation/arkit/arframe/2867984-capturedimage)

[2020-02-16 18:47] digitallysavvy commented on #103
@JorgeFrias this may help explain:

https://stackoverflow.com/a/51888019

[2020-02-16 19:14] AFathi commented on #103
Thanks @digitallysavvy for finding this. I believe your answer explains why I recommended to have both permissions in the Info.plist file. So I'll close this issue for now.

[2020-02-16 19:14] #103 closed, assigned to nobody

[2020-02-16 19:16] AFathi commented on #101
@DPRuin it appears that the AudioSession queue is beginning before the start session method is executed. Looking into it.

[2020-02-16 19:18] #102 closed, assigned to nobody

[2020-02-16 19:27] AFathi commented on #102
@shi-yan see the following instructions,

@digitallysavvy that's a good point. In addition to the option to retrieve the original frame using the `ARFrame.capturedImage`, you can also use ARVideoKit's [`RenderARDelegate`](https://github.com/AFathi/ARVideoKit/wiki/RenderARDelegate). To set the the `RenderARDelegate`, make sure to follow these steps:

1. Set `renderAR` of [`RecordAR`](https://github

[2020-02-20 00:31] shi-yan commented on #102
Thank you. I'm aware of capturedImage. The reason for raising the question was that if I use capturedImage, I need to implement my own video encoding code?

@AFathi Thank you very much for the answer!

[2020-02-25 13:21] JorgeFrias commented on #103
Thank you!

[2020-02-27 03:06] DPRuin commented on #101
audioSettings = audioDataOutput.recommendedAudioSettingsForAssetWriter(writingTo: .m4a) as? [String : Any]

[2020-02-27 03:07] tulaomaod commented on #101
audioSettings = audioDataOutput.recommendedAudioSettingsForAssetWriter(writingTo: .m4a) as? [String : Any]----fix audio .m4v to .m4a,    success fix iphone 7 plus 13.3.1 13.3 problem

[2020-02-27 03:09] tulaomaod commented on #101
update :
But iphone 7 plus 13.2.3    some time crash

[2020-02-27 03:10] tulaomaod commented on #101
What should I do

[2020-02-28 13:36] GiacomoLeopizzi commented on #43
@kellum42 the issue is solved in current version of the library.
Use:
[code]
To record with same aspect ratio of the view you used to create the RecordAR instance.

Regards,
Giacomo

[2020-02-28 13:36] #43 closed

[2020-02-28 13:37] GiacomoLeopizzi commented on #14
@davidxiasc, @LeonardRockstar, @seawolf86  the issue is solved in current version of the library.
Use:
[code]
To record with same aspect ratio of the view you used to create the RecordAR instance.

Regards,
Giacomo

[2020-02-28 13:37] #14 closed

[2020-02-28 13:40] #27 closed

[2020-04-06 17:24] sbelmeha opened #107 "Can I record from MTKView?"
Would be great to add MTKView support

[2020-04-06 23:17] digitallysavvy commented on #107
@landsv This library is meant for ARKit ARSCN recording.

Within an MTKview you already have a rendered pixel buffer, you wouldn't need the bulk of an off screen renderer. You should look at this SO response to record MTKView's https://stackoverflow.com/a/43860229/6931862

[2020-04-07 06:17] #107 closed, assigned to nobody

[2020-04-23 11:41] J-Arji commented on #43
hey, I can't found  "viewAspectRatio" in contentMode .
can you help me?
how can  able to make the video a square ?
thanks

[2020-04-23 11:42] J-Arji opened #109 "Square Video Recording"
I see issue #43 but  I can't found "viewAspectRatio" in "contentMode" .
can you help me?
how can able to make the video a square?
thanks

[2020-04-23 12:15] J-Arji opened #110 "can not install version 1.6.0"
hi
why can not install version 1.6.0

[code]

[2020-04-23 13:06] GiacomoLeopizzi commented on #43
Sure @J-Arji

[2020-04-23 13:09] GiacomoLeopizzi commented on #43
Sure @J-Arji
You should have something like
[code]

If you cannot find it please check you have the latest version of the library

[2020-04-23 13:18] GiacomoLeopizzi commented on #43
In contentMode `.viewAspectRatio` the output video has the same aspect ratio of the view, so just make sure the view has 1:1 aspect ration and the output will have square frames.

[2020-04-23 13:53] GiacomoLeopizzi commented on #109
Close it cause it's duplicate of #43

[2020-04-23 13:53] #109 closed, assigned to nobody

[2020-04-23 13:54] GiacomoLeopizzi commented on #110
Should be solved shortly! If you have urgent needs you can maybe use SwiftPM temporary

[2020-04-23 14:02] J-Arji commented on #43
i add this line
[code]

but when I play record video it's fill

[2020-04-23 14:06] GiacomoLeopizzi commented on #43
You should set the recorder.contentMode to `.viewAspectRatio` in order to get the output you want.

[2020-04-23 14:07] GiacomoLeopizzi commented on #43
Of course the view itself has also to be 1:1

[2020-04-23 15:01] J-Arji commented on #43
when I played with it with a custom view (1:1)
<img width="387" alt="Screen Shot 2020-04-23 at 7 30 43 PM" src="https://user-images.githubusercontent.com/11584951/80114540-f3cc5800-8598-11ea-8dc5-14a593b72db2.png">

and when i payed with defult player ios (AVPlayerViewController)
![0dcc28a2-5b30-45cc-b340-7c42e830739c](https://user-images.githubusercontent.com/11584951/80114245-989a6580-8598-11ea-

[2020-04-23 15:03] GiacomoLeopizzi commented on #43
This should happen cause contentMode is not to `.viewAspectRatio`

[2020-04-23 15:04] J-Arji commented on #110
thank you.
I install with swiftPM

[2020-04-23 15:06] J-Arji commented on #43
but content mode is to `.viewAspectRatio`

I change it

[2020-04-23 15:17] GiacomoLeopizzi commented on #43
Are you sure it's called? Cause I noticed you have an if block, maybe ratioMode is not `.normal`

[2020-04-24 08:55] J-Arji commented on #43
Yeah, I sure
I want the video output to be square
but  the video output  is 👇🏻
<img width="448" alt="Screen Shot 2020-04-24 at 1 24 00 PM" src="https://user-images.githubusercontent.com/11584951/80193927-dd70db80-862e-11ea-9971-d353cc9dedfb.png">

[2020-04-24 09:10] J-Arji commented on #43
when I breakpoint buffer size in write  return
![PHOTO-2020-04-24-13-34-58](https://user-images.githubusercontent.com/11584951/80195466-1ca02c00-8631-11ea-84ab-cc901009eaa9.jpg)

but in RanderAr buffersize is 1080,1080

when I call again width and height it's ok
why ??

[2020-04-26 12:52] sbilling commented on #101
Was a resolution for this ever found @AFathi ?

[2020-04-27 14:16] GiacomoLeopizzi commented on #43
When you call again you mean on next frame or next recording (I mean you stop recording and start it again)?

[2020-04-27 15:27] Pashamalkov commented on #101
same problem

[2020-04-28 14:35] J-Arji commented on #43
yeah,
I understand why I have a problem.
I set  ```recorder?.onlyRenderWhileRecording = false```
when I start and stop is ok
I change  ```onlyRenderWhileRecording``` to true and it's ok

but I think this part has a problem.

[2020-04-30 21:33] #110 closed, assigned to nobody

[2020-05-26 07:59] THEMaxNorman opened #112 "Black Bars on video output"
My video output is downsized or something. It is is like the image surrounded by black space. The raw buffer is the right size but at some point the buffer ends with black bars around it.

Anyone else have any ideas about what the issue could be?

I am using an ARSceneKit

[2020-05-26 08:20] THEMaxNorman commented on #112
I have finally found a workaround,
using foundation and Accelerate I used a resize pixel buffer function to crop and resize it. I am not sure of the performance hit this will create

`var new_buffer = resizePixelBuffer(buffer, cropX: 640, cropY: 360, cropWidth: 1280, cropHeight: 720, scaleWidth: 1280, scaleHeight: 720)`

[2020-05-26 08:20] #112 closed, assigned to nobody

[2020-06-13 12:11] Nerway commented on #112
Does anybody else still have this problem, and @THEMaxNorman what does your resizePixelBuffer function do? Could you post it?

[2020-06-26 10:11] dsmailes commented on #89
Use the closure to get the URL and pass it to an AVPlayer:

 func tapButton(isRecording: Bool) {

         if isRecording {
                   recorder?.record()
               } else {
                   recorder?.stop({ (url) in
                       DispatchQueue.main.async {
                           //do something with the url, e.g. pass it to an AVPlayer here
                       }

[2020-07-01 19:30] jrz-afs opened #114 "ARVideoKit forces app into portrait mode when starting from landscape left/right."
My app supports all interface orientations. The `ViewAR.orientation` `OptionSet` returns `.all`  and `inputViewOrientations` is set to `[ .landscapeLeft, .landscapeRight, .portrait ]`.

When the recorder is initialized with the ARSCNView, the entire interface is forced into portrait mode. I can rotate it back by physically moving my device and re-orientating it, but that's not an acceptable soluti

[2020-08-06 18:14] JakeHoldom commented on #99
Did you solve this issue?

[2020-08-06 19:43] digitallysavvy commented on #99
@ChowZhu @JakeHoldom ARVideoKit is set up to work with ARKit specifically.

[2020-08-13 08:45] JakeHoldom commented on #101
Any solutions for this? Getting the same problem.

[2020-09-10 01:47] Jlack6 opened #116 "ARVideoKit License"
I recently added ARVideoKit to my application ScribScrab. I want to start this off by saying the kit is incredible and the documentation is very easy to use. I'm going to try and release an update of ScribScrab using the ARVideoKit on the App Store soon but I wanted to reach out about the licence and how I go about it? I wanted to make sure that I give ARVideoKit the proper credit. Also would it b

[2020-09-10 08:00] raihan02 commented on #101
Same problem

[2020-09-10 11:04] AFathi commented on #116
Hi @Jlack6, please add the license in the settings section of your application under a section called `Licenses` where you'd list the open source code you've used throughout the app. If you don't have a settings section in the app, you may add the license in the Settings bundle (where it can be viewed from the System Settings); see instructions to do so here: https://gist.github.com/zetachang/4111

[2020-09-11 01:03] Jlack6 commented on #116
@AFathi Hey, thanks for getting back to me so quickly. I don't have a settings section in the application but I have a link on the home screen that goes to a website I built for the app (The website is still a work in progress). I built this link on the site for acknowledgements https://scribscrabweb.firebaseapp.com/Acknowledgements.html, does that work? Let me know if I need to change anything. I

[2020-09-11 05:56] AFathi commented on #116
Yes, that works!

Regards,
Ahmed Bekhit

On Fri, Sep 11, 2020 at 5:06 AM James Lack < James Lack ( James Lack <notifications@github.com> ) > wrote:

[2020-09-11 13:07] #116 closed, assigned to nobody

[2020-09-16 13:25] jrz-afs opened #118 "Crash - [AVAssetWriterInput initWithMediaType:outputSettings:sourceFormatHint:]"
Users are experiencing a crash with ARVideoKit. It appears to be when initializing `WritAR` with audio enabled, in the `prepareAudioDevice(_:)` method.

It doesn't happen all the time; however, it is frequent enough that it is becoming a legitimate problem.

The user(s) are on iOS 13.6.x, on iPad Pro 11". ARVideoKit is the latest "swift_5" branch.

Any ideas on what might be causing this, and how

[2020-09-16 13:33] jrz-afs commented on #97
I believe this is related to the issue I'm seeing as well: https://github.com/AFathi/ARVideoKit/issues/118

Also on Swift 5 branch. Any updates on this from anyone?

[2020-10-06 16:09] AMJ-7 opened #119 "low FPS while recording videos!!"
hi Ahmed thanks a lot for this a massive working, I just faced a little problem while and after recording it's shows 10 FPS (iPhone 6S) and 18 FPS (iPhone 11) it's always Varable and can't make it constant or 30 FPS or above.

![Screenshot 2020-10-06 at 7 08 39 PM](https://user-images.githubusercontent.com/931567/95227991-707d8680-0807-11eb-8a1c-56afd04b4df9.png)

[2020-10-20 02:58] pathaderavi-zz commented on #101
What if we check assetWriter status while we append to buffer in captureOutput ? @AFathi

[2020-11-03 10:22] developer-appdam commented on #90
I would love this as well! Any updates?

[2020-11-03 15:06] digitallysavvy commented on #90
I think this apple guide could help:

**Effecting People Occlusion in Custom Renderers**

https://developer.apple.com/documentation/arkit/effecting_people_occlusion_in_custom_renderers

[2020-11-09 18:51] seriyvolk83 commented on #114
@jrz-afs https://github.com/AFathi/ARVideoKit/pull/120

[2020-11-10 09:19] seriyvolk83 commented on #101
I think it's fixed here. https://github.com/AFathi/ARVideoKit/pull/122

Let me know if it helps someone.

[2020-11-23 23:44] jrz-afs commented on #114
@seriyvolk83 Looks like this PR was closed -  did a new one get put up by any chance?

[2020-11-24 06:36] seriyvolk83 commented on #114
@jrz-afs check #121 instead. It’s an updated version of the fix

[2020-11-26 07:34] gusabdala opened #123 "Recorded video shows flat texture on face tracking"
Recording video using face tracking with a textured mask shows the mask as 2d vs contoured with face. Anything I can do?
![IMG_8591](https://user-images.githubusercontent.com/2525568/100320873-affa6080-2f76-11eb-9549-12fae35fca97.jpg)

[2020-12-05 16:42] Zulqurnain24 commented on #119
@AFathi I am having the similar issue. Please help to resolve this one.
Thanks

[2020-12-08 08:29] mattbierner opened #124 "Wrong aspect ratio for initial video recording on on iPhone 12"
On an iPhone 12 in portrait mode, I've found that my app's first video recording will be the wrong aspect ratio.

Here's a still from the first video in the app:

<img width="661" alt="Screen Shot 2020-12-08 at 12 25 09 AM" src="https://user-images.githubusercontent.com/212305/101458607-f0010200-38eb-11eb-8a11-fc8187b54dca.png">

The video is 1440 × 1920

And here's the second video recorded in th

[2020-12-11 06:41] mattbierner commented on #124
Ah looks like swift package manager was picking up a build from back in February by default. After updating to the latest `swift_5` branch, I haven't seen this again

[2020-12-11 06:41] #124 closed, assigned to nobody

[2020-12-12 15:26] AFathi commented on #119
@Zulqurnain24 @A-M-j the FPS set in ARVideoKit is "preferred" and the system only reaches that FPS when there's sufficient memory resources. There certainly is a way to improve the FPS by refactoring the technique used to render the AR scene; I plan to work on that in early 2021.

[2020-12-16 08:06] Anu150030170 opened #125 "Plane detection is shown blank"
After recording the sceneview it shows blank plane.
![IMG_8369](https://user-images.githubusercontent.com/24892708/102321458-b727f380-3fa3-11eb-9d4b-cf0bc7e495ed.jpg)
.. Can you please tell me solution for this...

[2020-12-17 21:17] digitallysavvy commented on #125
How are you adding the planes to the scene graph?

[2020-12-20 00:16] gusabdala commented on #123
Any help here?

[2020-12-21 05:39] Anu150030170 commented on #125
It is something similar to this I did with reference https://developer.apple.com/documentation/arkit/world_tracking/tracking_and_visualizing_planes

            func renderer(_ renderer: SCNSceneRenderer, didAdd node: SCNNode, for anchor: ARAnchor) {
           guard let planeAnchor = anchor as? ARPlaneAnchor, planeAnchor.alignment == .horizontal else { return }
            let grid = Grid(anchor:

[2020-12-30 19:08] developer-appdam opened #126 "Person segmentation not being recorded"
Hi all,

First of all, thanks for this amazing library! I'm trying to record an ARSCNView that is configured with personSegmentation:

`if ARFaceTrackingConfiguration.supportsFrameSemantics(.personSegmentation) {
                config.frameSemantics.insert(.personSegmentation)
            }`

but it doesn't seem to record actually the segmented output that I see in the liveview.
What can be the c

[2021-01-06 16:41] digitallysavvy commented on #126
The reason you don't see the segmentation is because currently Apple doesn't expose an API for getting the rendered image from an ARSCNView. The way ARVideoKit works around this limitation is using an offscreen SCNRenderer, (leveraging the ARSCNView to access the scene graph) and the ARKit callback that provides the raw image from the camera. to the composite  the rendered 3D assets and with the r

[2021-01-12 21:16] Ksen17 opened #127 "ARFaceTrackingConfiguration not recorder correctly"
Rendering of face mesh is absolutely wrong

[2021-01-12 21:40] Ksen17 commented on #123
Same issue
looking for alternative solutions

[2021-01-17 12:02] taeger commented on #102
@AFathi: Sorry, bloody beginner's question. What do I have to write – HERE – to make this work?

`func frame(didRender buffer: CVPixelBuffer, with time: CMTime, using rawBuffer: CVPixelBuffer) {
– HERE –
}
  `

[2021-02-23 08:14] Anu150030170 opened #128 "pod installation issue"
When run app using pods then the video exported is of different size compared to video exported during  manual adding of framework in Swift package Manager.

Any help please...

[2021-05-06 20:56] dhavalSA opened #129 "high CPU usage"
Extremely  high cpu is used when it start . it slow down application , and device is heating a lot , tasted in iphone 7,XR,11 .

[2021-07-27 06:20] StephenGao commented on #127
I also encountered the same problem and look forward to the answer

[2021-07-27 07:08] StephenGao commented on #127
You can set
contentMode = .aspectFill
and then try again.

[2021-08-22 14:01] AMJ-7 commented on #129
and Low FPS exported videos?

however, try to change HEVC to h264 maybe that decrease the processing -> File (Pod/ARVideoKit/WriterAR)

[2021-08-22 14:03] AMJ-7 commented on #119
is there any updates or any way to solve this issue ?!

I tried to delete "WeakProxy" and "gpuLoop" it's enhanced a little bit.

[2021-08-24 08:38] dhavalSA commented on #129
Yes even with low FPS .

i will try h264 and let you know

Thanks

[2021-08-24 12:26] dhavalSA commented on #129
videoOutputSettings = [
            AVVideoCodecKey: AVVideoCodecType.h264 as AnyObject,
            AVVideoWidthKey: width as AnyObject,
            AVVideoHeightKey: height as AnyObject
        ]

@AMJ-7 it is already h264

[2021-10-17 07:24] cleexiang commented on #127
@

你是在哪儿设置的，我设置后还是变形的

[2021-10-17 07:24] cleexiang commented on #127
@StephenGao 你是在哪儿设置的contentMode，我设置后还是变形的

[2021-10-22 15:45] ozgurshn opened #131 "Surface shader result not recorded."
Issue environment:

Device Model: iPhone mini running iOS 15
Xcode Version: Xcode 13
iOS Version: iOS 15
Pod Version or Repo Commit:
Issue Details:
I record the scene where I play a video ver a SCNPlane in which I remove green background of video using surface shader. This cause recorded video to have a white background instead of transparent one. Any ideas why shader result is not recorded?
![IMG

[2021-10-22 16:37] AFathi commented on #131
@ozgurshn, what's the video format?

I've seen similar implementations of this and I recommend pre-processing the video, exporting it on device then rendering it in the AR scene instead of applying shaders and immediately displaying it in the scene.

Let me know if that works

[2021-10-22 16:50] ozgurshn commented on #131
@AFathi thanks for the suggestion. Video format is MP4.

[2021-10-22 23:51] ozgurshn commented on #131
Tried pre-processing ( replacing green with alpha=0 using CIColorCube ) and play that video but that made the video semi-transparent with screen blend mode and black backgrounded with alpha blend mode.

[2021-11-19 11:14] Techgps1 opened #132 "ARFaceTrackingConfiguration front camera audio recording not working."
I've used ARkit with ARFaceTrackingConfiguration and recorded the video but the audio not working.
If I record video with normal ARconfiguration back camera audio works well.

Can anyone help me please.  ?

[2021-11-20 19:37] AmitTalentHunter opened #133 "Job Open"
Hi Are you open for job

[2021-11-20 19:42] AFathi commented on #133
Please connect with me via email: me@ahmedbekhit.com

[2021-11-20 19:42] #133 closed, assigned to nobody

[2021-12-08 15:41] royherma commented on #126
@digitallysavvy Any updates regarding this functionality? Seems like a high demand functionality for this library so hoping there is some good news 🙌

[2021-12-09 18:51] digitallysavvy commented on #126
I'm not actively working on this feature, my comment was meant to provide enough context to allow any developer looking for this feature in their app to help the community and extend the library.

[2021-12-27 12:32] #132 closed, assigned to nobody

[2022-02-03 06:18] rishh-hub opened #134 "Only working on iPhone X."
I tried with multiple devices including iPhone X, iPhone XR and iPhone 11, but this only seems to work on iPhone X. If anyone finds a solution to this, please let me know.

[2022-02-03 10:07] #134 closed, assigned to nobody

[2022-02-08 18:55] nazdream opened #135 "App freezes for a moment when starting recording"
I am trying to record `ARSKView` with `RecordAR`. The problem I am facing is that every time I call `RecordAR.record() `the app freezes for a moment. Also, text-to-speech pronunciation is very laggy if I call it right after the `record` function.

Is there any way to avoid this issue? I couldn't find any possible way to prevent this issue in docs and in the internet. Any feedback is highly appreci

[2022-02-21 07:57] nazdream commented on #63
I am experiencing the same issue on iPhone XS. Was anybody able to resolve this issue?

[2022-04-09 13:30] hypafrag commented on #128
Latest version uploaded to cocoapods is 1.5.12. It's pretty old version that doesn't have some options added to control record aspect ratio. If you install same version with SwiftPM you'll probably get same results

[2022-04-09 13:33] hypafrag commented on #135
Did you try dispatching record() call to background queue? I'm having same issue with freeze, that's first thing I wanna try.

[2022-04-10 12:31] hypafrag commented on #135
If you're looking for a workaround, running .prepare, .record, .cancel as initialisation sequence makes subsequent .record calls work without significant freezes. To avoid freeze on initialisation you can just run it on concurrent queue. Works for me with ARVideoKit 1.6.0

[2022-04-13 15:38] digitallysavvy commented on #128
Cocao Pods supports using a repo so you could pull in the library to your project that way.
https://stackoverflow.com/questions/39930664/how-to-install-a-pod-from-a-specific-branch

[2022-05-05 09:41] Ashes1st commented on #135
Try to call record with viewDidLoad. It's work for me. Issue looks like specific initialisation when first time starting record.

let recThread = Thread() {
     self.recorder?.record()
     sleep(1)
     self.recorder?.stop()
}
recThread.name = "rec"
recThread.start()

[2022-05-08 16:15] derrickstaten commented on #23
Having this issue with the example app on an iPad mini

[2022-09-09 06:54] chrischengzh opened #136 "when use ARVideoKit to record an ARSCNView, the loaded AR object shows black in the scene"
Dear Author,
  I meet an issue, when use ARVideoKit to record an  ARSCNView, the loaded AR object shows black in the scene. need your support, thank you very much!
  I also sent the recorded video to your email(me@ahmedbekhit.com).

[2022-09-22 11:33] maxxfrazer commented on #136
@arstudio-guru is this since iOS 16 only?

[2022-09-22 13:18] chrischengzh commented on #136
it is happened on iOS 16 and iOS 15, thank you!

[2022-10-24 18:27] mikolajadamowicz commented on #129
Take a look at it @dhavalSA https://github.com/AFathi/ARVideoKit/pull/137

[2022-10-24 18:27] mikolajadamowicz commented on #119
take a look at it @AMJ-7 https://github.com/AFathi/ARVideoKit/pull/137

[2022-10-24 19:49] Zulqurnain24 commented on #119
Asalamualiqum, nice work bro.

On Mon, 24 Oct 2022 at 7:27 pm, Mikolaj Adamowicz ***@***.***>
wrote:

[2022-10-30 18:50] AleksandarToptal commented on #136
@maxxfrazer i have this error something in setup xcode14 ? RTM is not connected